* Estilos personalizados para SweetAlert2 */
.my-swal-container {
    padding: 15px;
}

.my-swal-popup {
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 450px !important;
    max-width: 90%;
}

.my-swal-header {
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.my-swal-title {
    color: #27ae60;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.my-swal-content {
    padding: 20px 0;
    font-size: 16px;
    line-height: 1.6;
}

.my-swal-content p {
    margin-bottom: 10px;
}

.my-swal-content strong {
    color: #333;
    font-weight: 600;
}

.my-swal-confirm-button {
    background-color: var(--secondary-color) !important;
    color: white !important;
    border-radius: 5px !important;
    padding: 10px 24px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    box-shadow: 0 3px 8px rgba(180, 169, 7, 0.3) !important;
}

.my-swal-confirm-button:hover {
    background-color: var(--primary-dark) !important;
    box-shadow: 0 5px 15px rgba(180, 169, 7, 0.3) !important;
}

.my-swal-cancel-button {
    background-color: #f1f2f6 !important;
    color: #333 !important;
    border-radius: 5px !important;
    padding: 10px 24px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    box-shadow: none !important;
    margin-left: 10px !important;
}

.my-swal-cancel-button:hover {
    background-color: #e9ebef !important;
}

/*  para los modales de recetas */
.my-swal-cancel-button-receta {
    background-color: #76d3ebc9 !important;
    color: #333 !important;
    border-radius: 5px !important;
    padding: 10px 24px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    box-shadow: none !important;
    margin-left: 10px !important;
}

.my-swal-cancel-button-receta:hover {
    background-color: #76d3ebc9 !important;
}

.my-swal-footer-receta a {
    color: var(--primary-dark) !important;
    text-decoration: underline !important;
    font-weight: bolder !important;
}

.my-swal-mas-tarde {
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 0.8em;
    color: var(--primary-dark);
    cursor: pointer;
    z-index: 10;
    user-select: none;
}

.my-swal-deny-button {
    background-color:#76d3ebc9  !important; /* azul claro */
    color: #fff !important;
    border: none !important;
}